# macOS
.DS_Store

# Log files
*.log

# IntelliJ IDEA
.idea/
out/
*.iml

# Gradle
.gradle/
build/

# Terraform
*.backup
.terraform/
*.tfvars
tfplan

# Custom
/assets/

# Kotlin
.kotlin/

# npm
node_modules/
