name: Release
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - beta
      - main
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    env:
      JAVA_VERSION: 25
      NODE_VERSION: 25
      SEMANTIC_RELEASE_VERSION: 25
      TERRAFORM_VERSION: 1.14.4
      TF_PLUGIN_CACHE_DIR: ${{ github.workspace }}/.terraform.d/plugin-cache
    environment: ${{ github.ref_name == 'main' && 'production' || 'development' }}
    steps:

      - name: Check out source code
        uses: actions/checkout@v6
        with:
          fetch-tags: true

      - name: Install Node
        uses: actions/setup-node@v6
        with:
          cache: npm
          cache-dependency-path: firebase-emulator
          node-version: ${{ env.NODE_VERSION }}

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3
        with:
          export_environment_variables: true
          service_account: terraform@${{ vars.GOOGLE_PROJECT }}.iam.gserviceaccount.com
          workload_identity_provider: projects/${{ vars.GOOGLE_PROJECT_NUMBER }}/locations/global/workloadIdentityPools/github-actions-workflows/providers/github-actions

      - name: Install Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ env.JAVA_VERSION }}

      - name: Set up Gradle cache
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: false

      - name: Install Task
        uses: go-task/setup-task@v1

      - name: Set up Firebase emulator cache
        uses: actions/cache@v5
        with:
          key: firebase-tools-${{ hashFiles('firebase-emulator/package-lock.json') }}
          path: ~/.cache/firebase/emulators

      - name: Build
        run: task ENVIRONMENT=${{ vars.ENVIRONMENT }} app:build -- --scan

      - name: Save build reports and logs
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: reports-and-logs
          path: |
            app/build/reports/**/configuration-cache-report.html
            app/build/reports/problems/problems-report.html
            firebase-emulator/*.log

      - name: Set up SonarCloud package cache
        uses: actions/cache@v5
        with:
          key: ${{ runner.os }}-sonar
          path: ~/.sonar/cache

      - name: Analyze
        uses: SonarSource/sonarqube-scan-action@v7
        env:
          SONAR_TOKEN: ${{ secrets.SONARCLOUD_TOKEN }}

      - name: Create Terraform plugin cache directory
        run: mkdir -p ${TF_PLUGIN_CACHE_DIR}

      - name: Set up Terraform cache
        uses: actions/cache@v5
        with:
          path: ${{ env.TF_PLUGIN_CACHE_DIR }}
          key: ${{ runner.os }}-terraform-${{ hashFiles('**/.terraform.lock.hcl') }}
          restore-keys: ${{ runner.os }}-terraform-

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}
          terraform_wrapper: false

      - name: Install Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Install semantic-release exec plugin
        run: npm install --save-dev @semantic-release/exec

      - name: Expose GitHub Runtime
        uses: actions/github-script@v8
        with:
          script: |
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env['ACTIONS_RUNTIME_TOKEN'])
            core.exportVariable('ACTIONS_RESULTS_URL', process.env['ACTIONS_RESULTS_URL'])

      - name: Release
        env:
          ARTIFACT_REGISTRY_LOCATION: ${{ vars.ARTIFACT_REGISTRY_LOCATION }}
          ARTIFACT_REPOSITORY: ${{ vars.ARTIFACT_REPOSITORY }}
          BUCKET_NAME: ${{ vars.BUCKET_NAME }}
          CREATE_DOMAIN_MAPPING: ${{ vars.CREATE_DOMAIN_MAPPING }}
          CREDENTIALS: ${{ secrets.CREDENTIALS }}
          CORS_ORIGINS: ${{ vars.CORS_ORIGINS }}
          DOMAIN_NAME: ${{ vars.DOMAIN_NAME }}
          FIRESTORE_LOCATION: ${{ vars.FIRESTORE_LOCATION }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GOOGLE_PROJECT: ${{ vars.GOOGLE_PROJECT }}
          GOOGLE_REGION: ${{ vars.GOOGLE_REGION }}
          SMTP_SERVER_ADDRESS: ${{ vars.SMTP_SERVER_ADDRESS }}
          SMTP_SERVER_PASSWORD: ${{ secrets.SMTP_SERVER_PASSWORD }}
          SMTP_SERVER_PORT: ${{ vars.SMTP_SERVER_PORT }}
          SMTP_SERVER_USERNAME: ${{ vars.SMTP_SERVER_USERNAME }}
          TF_IN_AUTOMATION: true
        run: npx semantic-release@${SEMANTIC_RELEASE_VERSION}

permissions:
  contents: write
  id-token: write
  issues: write
  pull-requests: write
