name: Release
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - beta
      - main
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    env:
      FIREBASE_TOOLS_VERSION: 15.1.0
      JAVA_VERSION: 25
      NODE_VERSION: 25
      SEMANTIC_RELEASE_VERSION: 25
      TERRAFORM_VERSION: 1.14.3
      TF_PLUGIN_CACHE_DIR: ${{ github.workspace }}/.terraform.d/plugin-cache
    environment: ${{ github.ref_name == 'main' && 'production' || 'development' }}
    steps:

      - name: Check out source code
        uses: actions/checkout@v6
        with:
          fetch-tags: true

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3
        with:
          export_environment_variables: true
          service_account: terraform@${{ vars.GOOGLE_PROJECT }}.iam.gserviceaccount.com
          workload_identity_provider: projects/${{ vars.GOOGLE_PROJECT_NUMBER }}/locations/global/workloadIdentityPools/github-actions-workflows/providers/github-actions

      - name: Set up Firebase CLI
        run: npm install -g firebase-tools@${FIREBASE_TOOLS_VERSION}

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ env.JAVA_VERSION }}

      - name: Cache Firebase emulators
        uses: actions/cache@v5
        with:
          key: firebase-tools-${{ env.FIREBASE_TOOLS_VERSION }}
          path: ~/.cache/firebase/emulators

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: false

      - name: Build
        run: make app/build

      - name: Save Firebase emulator logs
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: firebase-emulator-logs
          path: |
            app/firebase-emulator/*.log

      - name: Cache SonarCloud packages
        uses: actions/cache@v5
        with:
          key: ${{ runner.os }}-sonar
          path: ~/.sonar/cache

      - name: Analyze
        uses: SonarSource/sonarqube-scan-action@v7
        env:
          SONAR_TOKEN: ${{ secrets.SONARCLOUD_TOKEN }}

      - name: Init Terraform cache
        run: mkdir -p ${TF_PLUGIN_CACHE_DIR}

      - name: Setup Terraform cache
        uses: actions/cache@v5
        with:
          path: ${{ env.TF_PLUGIN_CACHE_DIR }}
          key: ${{ runner.os }}-terraform-${{ hashFiles('**/.terraform.lock.hcl') }}
          restore-keys: ${{ runner.os }}-terraform-

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}
          terraform_wrapper: false

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Install semantic-release exec plugin
        run: npm install --save-dev @semantic-release/exec

      - name: Expose GitHub Runtime
        uses: actions/github-script@v8
        with:
          script: |
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env['ACTIONS_RUNTIME_TOKEN'])
            core.exportVariable('ACTIONS_RESULTS_URL', process.env['ACTIONS_RESULTS_URL'])

      - name: Release
        env:
          ARTIFACT_REGISTRY_LOCATION: ${{ vars.ARTIFACT_REGISTRY_LOCATION }}
          ARTIFACT_REPOSITORY: ${{ vars.ARTIFACT_REPOSITORY }}
          BUCKET_NAME: ${{ vars.BUCKET_NAME }}
          CREATE_DOMAIN_MAPPING: ${{ vars.CREATE_DOMAIN_MAPPING }}
          CREDENTIALS: ${{ secrets.CREDENTIALS }}
          CORS_ORIGINS: ${{ vars.CORS_ORIGINS }}
          DOMAIN_NAME: ${{ vars.DOMAIN_NAME }}
          FIRESTORE_LOCATION: ${{ vars.FIRESTORE_LOCATION }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GOOGLE_PROJECT: ${{ vars.GOOGLE_PROJECT }}
          LOCATION: ${{ vars.GOOGLE_REGION }}
          SMTP_SERVER_ADDRESS: ${{ vars.SMTP_SERVER_ADDRESS }}
          SMTP_SERVER_PASSWORD: ${{ secrets.SMTP_SERVER_PASSWORD }}
          SMTP_SERVER_PORT: ${{ vars.SMTP_SERVER_PORT }}
          SMTP_SERVER_USERNAME: ${{ vars.SMTP_SERVER_USERNAME }}
        run: npx semantic-release@${SEMANTIC_RELEASE_VERSION}

permissions:
  contents: write
  id-token: write
  issues: write
  pull-requests: write
